.day {
    border:1px solid #ccc;
    height: 100%;
    display: flex;
}
.disabled {
    background-color: #cdcdcd;
    color: #adadad;
}
.selected {
    color: white;
    background-color: #2E78F9;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.6));
}

.daynum {
    font-size:1.4rem;
    margin: 2px;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
}